body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(360deg, #bdbd01 25.91%, rgb(255, 255, 255) 50.84%);
    color:rgb(78, 78, 78);
}

#active{
    background-color:#cfcf00eb;
}

#active a{
    color:rgb(78, 78, 78);
}

#navbar{
    display:none;
    width: 100%;
    left:0;
}

#sidebar{
    position: fixed;
    left:0;
    
}
section{
    display:flex;
    flex-direction: column;
}


.mobile .dropdown-menu{
  width: 100%;
  min-width: 250px;
  font-size: 14px;
}

.container{
    display: flex;
}

.workspace{
    display: flex;
    flex-direction: column;
}


.container-workspace{
    background-color: #fff;
    width: 85%;
    min-height: 85vh;
    height: 100%;
    margin-top: 5vh;
    margin-left: 11%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: unset;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container-workspace-negado{
    background-color: #fff;
    width: 85%;
    min-height: 85vh;
    height: 100%;
    margin-top: 5vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-width: unset;
    padding: 0;
}

textarea:focus, input:focus, select:focus {
    outline: 0;
}

.form-control:focus, .form-check-input:focus, .form-select:focus, .form-range:focus {
    border-color: #cccccc;
    outline: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .form-switch .form-check-input{
    border-radius: 10px;
  }

  .form-check-input:focus {
  --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e);
  }

.form-check-input:checked {
    background-color: #bdbd01;
    border-color: rgb(116, 139, 0);
}

.dis-hiden{
    display: none !important;
}



.dis-flex{
    display: flex;
}
  

footer{
    margin-top: 8px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgb(78, 78, 78);
}

footer a:hover{
    color: rgb(56, 56, 56);
}

.mensagemErro{
    margin-top: 5px;
    margin-left: 6px;
    margin-bottom: 0;
}

.borderdanger {
    border: 1px solid red;
}

.colordanger{
    color: red;
}

.errorprint{
    text-align: center;
}

strong{
    max-width: 22ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.imgUpload:hover{
    cursor: pointer;
    filter: brightness(45%)
}

.doc_user{
    display: none;
}

.inputareadoc{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputareadoc p{
    color: red;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.inputs{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.inputforms{
    margin-bottom: 10px;
}

.cta {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #bdbd01;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.05em;
    top:-1px;
    color: #5c5c5c;
  }
  
  .cta svg {
    position: relative;
    top: -1.5px;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #5c5c5c;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #bdbd01;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  
  .container-admuser{
    display: flex;
  }

  .acessonegadoarea{
    margin-top: auto;
    margin-bottom: auto;
  }

  .headerArea {
    text-align: center;
  }

  .FormCreatProposta {
    margin: 0 auto;
    width: 85%;
  }


@media (max-width: 1250px){
    .container-workspace{
        width: 85%;
        min-height: 85vh;
        height: 100%;
        margin-top:5vh;
    }
}

@media (max-width: 868px) {

    .container-workspace{
        width: 80%;
        min-height: 85vh;
        height: 100%;
        margin-left: 15%;
    }
}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }

    body{
        padding-left: 0;
    }
    #sidebar{
        display: none;
    }
    
    #navbar{
        display:block;
    }


    .container-workspace{
        width: 90%;
        min-height: 85vh;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    }


          /*Carregamento registro*/

          .loaderarea{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Use a cor desejada com transparência */
            z-index: 99999; /* Certifique-se de que o fundo esteja acima de outros elementos */
            display: flex;
          }
    
          .carregar{
            position: relative;
            display: flex;
            flex-direction: column;
            margin: auto;
          }
    
          .carregar h2{
            color: white;
            text-align: center;
          }
    
          @keyframes square-animation {
            0% {
             left: 0;
             top: 0;
            }
           
            10.5% {
             left: 0;
             top: 0;
            }
           
            12.5% {
             left: 32px;
             top: 0;
            }
           
            23% {
             left: 32px;
             top: 0;
            }
           
            25% {
             left: 64px;
             top: 0;
            }
           
            35.5% {
             left: 64px;
             top: 0;
            }
           
            37.5% {
             left: 64px;
             top: 32px;
            }
           
            48% {
             left: 64px;
             top: 32px;
            }
           
            50% {
             left: 32px;
             top: 32px;
            }
           
            60.5% {
             left: 32px;
             top: 32px;
            }
           
            62.5% {
             left: 32px;
             top: 64px;
            }
           
            73% {
             left: 32px;
             top: 64px;
            }
           
            75% {
             left: 0;
             top: 64px;
            }
           
            85.5% {
             left: 0;
             top: 64px;
            }
           
            87.5% {
             left: 0;
             top: 32px;
            }
           
            98% {
             left: 0;
             top: 32px;
            }
           
            100% {
             left: 0;
             top: 0;
            }
           }
           
           .loader {
            display: flex;
            position: relative;
            width: 96px;
            height: 96px;
            transform: rotate(45deg);
            margin-left: auto;
            margin-right: auto;
           }
           
           .loader-square {
            position: absolute;
            top: 0;
            left: 0;
            width: 28px;
            height: 28px;
            margin: 2px;
            border-radius: 0px;
            background: #bdbd01;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            animation: square-animation 10s ease-in-out infinite both;
           }
           
           .loader-square:nth-of-type(0) {
            animation-delay: 0s;
           }
           
           .loader-square:nth-of-type(1) {
            animation-delay: -1.4285714286s;
           }
           
           .loader-square:nth-of-type(2) {
            animation-delay: -2.8571428571s;
           }
           
           .loader-square:nth-of-type(3) {
            animation-delay: -4.2857142857s;
           }
           
           .loader-square:nth-of-type(4) {
            animation-delay: -5.7142857143s;
           }
           
           .loader-square:nth-of-type(5) {
            animation-delay: -7.1428571429s;
           }
           
           .loader-square:nth-of-type(6) {
            animation-delay: -8.5714285714s;
           }
           
           .loader-square:nth-of-type(7) {
            animation-delay: -10s;
           }
    
           @keyframes pushUp {
            0% {
                transform: translateY(0);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(0);
            }
        }
    
        h2 {
            font-size: 26px;
            text-align: center;
        }
    
        h2 span {
            display: inline-block;
            transform-origin: bottom;
            animation: pushUp 0.6s infinite;
        }
    
        h2 span:nth-child(1) { animation-delay: 0.2s; }
        h2 span:nth-child(2) { animation-delay: 0.4s; }
        h2 span:nth-child(3) { animation-delay: 0.6s; }





